.App {
  text-align: center;
}

header {
  color: #1a1938;
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signin {
  display: flex;
  align-items: center;
  column-gap: 2vw;
  margin: 0 4vw;
}

button {
  background-color: #7560fb;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover,
li:hover,
.sign:hover {
  cursor: pointer;
}

.logoSection {
  display: flex;
  align-items: center;
}

img {
  height: 40px;
  margin: 0 2vw;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

li {
  margin: 0px 1.5vw;
}

a {
  text-decoration: none !important;
}
